In [2]:
import pandas as pd

## Exploring Weather Data for France:

In [3]:
df = pd.read_csv("/workspace/COMP3610-Renewable-Energy-Prediction/data/raw/weather_data_france.csv")

In [4]:
# Basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61368 entries, 0 to 61367
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    61368 non-null  object
 1   temp    60689 non-null  float64
 2   dwpt    60675 non-null  float64
 3   rhum    60677 non-null  float64
 4   prcp    44060 non-null  float64
 5   snow    0 non-null      float64
 6   wdir    60309 non-null  float64
 7   wspd    60433 non-null  float64
 8   wpgt    0 non-null      float64
 9   pres    60688 non-null  float64
 10  tsun    0 non-null      float64
 11  coco    4844 non-null   float64
dtypes: float64(11), object(1)
memory usage: 5.6+ MB

In [5]:
# Display the first few rows to understand the structure
print(df.head())

                  time  temp  dwpt  rhum  prcp  snow   wdir  wspd  wpgt  \
0  2016-01-01 00:00:00   8.2   5.3  82.0   NaN   NaN  200.0   9.4   NaN
1  2016-01-01 01:00:00   7.9   5.2  83.0   0.0   NaN  180.0   5.4   NaN
2  2016-01-01 02:00:00   6.9   4.6  85.0   0.0   NaN  190.0   5.4   NaN
3  2016-01-01 03:00:00   6.3   4.9  91.0   NaN   NaN  160.0   5.4   NaN
4  2016-01-01 04:00:00   5.8   4.6  92.0   0.0   NaN  150.0   5.4   NaN

     pres  tsun  coco
0  1024.6   NaN   NaN
1  1024.8   NaN   NaN
2  1024.9   NaN   NaN
3  1025.1   NaN   NaN
4  1025.3   NaN   NaN

In [6]:
# Check data types
print(df.dtypes)

time     object
temp    float64
dwpt    float64
rhum    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun    float64
coco    float64
dtype: object

In [7]:
# Check for missing values
print(df.isnull().sum())

time        0
temp      679
dwpt      693
rhum      691
prcp    17308
snow    61368
wdir     1059
wspd      935
wpgt    61368
pres      680
tsun    61368
coco    56524
dtype: int64

In [8]:
# Basic statistics for numerical columns
print(df.describe())

               temp          dwpt          rhum          prcp  snow  \
count  60689.000000  60675.000000  60677.000000  44060.000000   0.0
mean      13.283885      7.350070     70.069977      0.084328   NaN
std        7.157165      5.502811     17.176306      0.588919   NaN
min       -7.000000    -17.100000     15.000000      0.000000   NaN
25%        8.000000      3.500000     58.000000      0.000000   NaN
50%       12.700000      7.600000     73.000000      0.000000   NaN
75%       18.300000     11.600000     84.000000      0.000000   NaN
max       41.700000     23.300000    100.000000     49.000000   NaN

               wdir          wspd  wpgt          pres  tsun         coco
count  60309.000000  60433.000000   0.0  60688.000000   0.0  4844.000000
mean     188.906598     10.847368   NaN   1017.126066   NaN     3.022502
std      101.894435      5.046212   NaN      9.269022   NaN     2.453219
min        0.000000      0.000000   NaN    969.800000   NaN     1.000000
25%      100.000000      7.600000   NaN   1012.000000   NaN     2.000000
50%      200.000000      9.400000   NaN   1017.800000   NaN     3.000000
75%      270.000000     13.000000   NaN   1023.000000   NaN     3.000000
max      360.000000     44.600000   NaN   1047.800000   NaN    18.000000

## Exploring Weather Data for Italy:

In [9]:
df = pd.read_csv("/workspace/COMP3610-Renewable-Energy-Prediction/data/raw/weather_data_italy.csv")

In [10]:
# Basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61368 entries, 0 to 61367
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    61368 non-null  object
 1   temp    40004 non-null  float64
 2   dwpt    39958 non-null  float64
 3   rhum    39958 non-null  float64
 4   prcp    17488 non-null  float64
 5   snow    0 non-null      float64
 6   wdir    33971 non-null  float64
 7   wspd    39822 non-null  float64
 8   wpgt    0 non-null      float64
 9   pres    36713 non-null  float64
 10  tsun    0 non-null      float64
 11  coco    6585 non-null   float64
dtypes: float64(11), object(1)
memory usage: 5.6+ MB

In [11]:
# Display the first few rows to understand the structure
print(df.head())

                  time  temp  dwpt  rhum  prcp  snow  wdir  wspd  wpgt  pres  \
0  2016-01-01 00:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  2016-01-01 01:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  2016-01-01 02:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  2016-01-01 03:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  2016-01-01 04:00:00   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   tsun  coco
0   NaN   NaN
1   NaN   NaN
2   NaN   NaN
3   NaN   NaN
4   NaN   NaN

In [12]:
# Check data types
print(df.dtypes)

time     object
temp    float64
dwpt    float64
rhum    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun    float64
coco    float64
dtype: object

In [13]:
# Check for missing values
print(df.isnull().sum())

time        0
temp    21364
dwpt    21410
rhum    21410
prcp    43880
snow    61368
wdir    27397
wspd    21546
wpgt    61368
pres    24655
tsun    61368
coco    54783
dtype: int64

In [14]:
# Basic statistics for numerical columns
print(df.describe())

               temp          dwpt          rhum          prcp  snow  \
count  40004.000000  39958.000000  39958.000000  17488.000000   0.0
mean      17.970388     10.731473     67.009660      0.108452   NaN
std        8.426305      6.121323     21.325558      0.573758   NaN
min       -5.000000    -15.100000      2.000000      0.000000   NaN
25%       12.000000      7.000000     50.000000      0.000000   NaN
50%       17.700000     11.100000     68.000000      0.000000   NaN
75%       24.000000     15.100000     87.000000      0.000000   NaN
max       40.000000     33.100000    100.000000     14.000000   NaN

               wdir          wspd  wpgt          pres  tsun         coco
count  33971.000000  39822.000000   0.0  36713.000000   0.0  6585.000000
mean     177.692679      9.762056   NaN   1015.607068   NaN     4.197570
std      111.841180      6.352612   NaN      8.364742   NaN     4.523564
min        0.000000      0.000000   NaN     97.000000   NaN     0.000000
25%       60.000000      5.400000   NaN   1012.000000   NaN     1.000000
50%      200.000000      7.900000   NaN   1015.000000   NaN     3.000000
75%      250.000000     13.000000   NaN   1019.200000   NaN     5.000000
max      360.000000     55.400000   NaN   1201.000000   NaN    26.000000

## Exploring Weather Data for Spain:

In [15]:
df = pd.read_csv("/workspace/COMP3610-Renewable-Energy-Prediction/data/raw/weather_data_spain.csv")

In [16]:
# Basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61368 entries, 0 to 61367
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    61368 non-null  object
 1   temp    61330 non-null  float64
 2   dwpt    61330 non-null  float64
 3   rhum    61330 non-null  float64
 4   prcp    5268 non-null   float64
 5   snow    4 non-null      float64
 6   wdir    60856 non-null  float64
 7   wspd    61358 non-null  float64
 8   wpgt    20953 non-null  float64
 9   pres    61318 non-null  float64
 10  tsun    0 non-null      float64
 11  coco    41251 non-null  float64
dtypes: float64(11), object(1)
memory usage: 5.6+ MB

In [17]:
# Display the first few rows to understand the structure
print(df.head())

                  time  temp  dwpt  rhum  prcp  snow   wdir  wspd  wpgt  \
0  2016-01-01 00:00:00  11.4  10.6  95.0   NaN   NaN  350.0  11.2   NaN
1  2016-01-01 01:00:00  11.7  10.9  95.0   NaN   NaN  350.0   9.4   NaN
2  2016-01-01 02:00:00  11.5  10.7  95.0   NaN   NaN  340.0   7.6   NaN
3  2016-01-01 03:00:00  11.7  10.8  94.0   NaN   NaN  350.0  11.2   NaN
4  2016-01-01 04:00:00  11.8  10.9  94.0   NaN   NaN  360.0   7.6   NaN

     pres  tsun  coco
0  1025.2   NaN   NaN
1  1024.8   NaN   NaN
2  1024.8   NaN   NaN
3  1024.6   NaN   NaN
4  1024.4   NaN   NaN

In [18]:
# Check data types
print(df.dtypes)

time     object
temp    float64
dwpt    float64
rhum    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun    float64
coco    float64
dtype: object

In [19]:
# Check for missing values
print(df.isnull().sum())

time        0
temp       38
dwpt       38
rhum       38
prcp    56100
snow    61364
wdir      512
wspd       10
wpgt    40415
pres       50
tsun    61368
coco    20117
dtype: int64

In [20]:
# Basic statistics for numerical columns
print(df.describe())

               temp          dwpt          rhum         prcp  snow  \
count  61330.000000  61330.000000  61330.000000  5268.000000   4.0
mean      17.807766     13.024968     75.716142     0.043451   0.0
std        6.441415      5.353516     16.001033     0.362931   0.0
min       -0.800000     -8.100000      1.000000     0.000000   0.0
25%       12.900000      9.200000     64.000000     0.000000   0.0
50%       17.100000     12.900000     78.000000     0.000000   0.0
75%       22.700000     17.100000     89.000000     0.000000   0.0
max       38.100000     28.300000    102.000000     9.100000   0.0

               wdir          wspd          wpgt          pres  tsun  \
count  60856.000000  61358.000000  20953.000000  61318.000000   0.0
mean     177.996089     15.753866     25.350332   1017.198129   NaN
std      114.601109      9.483777     10.752191      6.548100   NaN
min        0.000000      0.000000      7.400000    989.500000   NaN
25%       60.000000      9.400000     16.700000   1013.600000   NaN
50%      190.000000     13.000000     22.200000   1017.100000   NaN
75%      270.000000     20.500000     31.500000   1021.000000   NaN
max      360.000000     64.800000     79.600000   1037.800000   NaN

               coco
count  41251.000000
mean       2.834452
std        2.996962
min        0.000000
25%        2.000000
50%        2.000000
75%        3.000000
max       27.000000